@import './main.scss';
$hero-gradient: linear-gradient(
  314.72deg,
  #c86dd7 -1.5%,
  #7e49c3 39.43%,
  #5912ac 86.02%
);

.hero {
  background-blend-mode: overlay;
  background-image: url('../../assets/images/banner_image.png'), $hero-gradient;
  background-position: center;
  background-size: cover;
  height: 616px;
}

.hero-wrap {
  align-items: center;
  display: flex;
  gap: 15vw;
  height: 100%;
  margin-left: 8vw;
  width: 80vw;
  article {
    color: $bright-color;
    h1 {
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 3rem;
      margin-bottom: 24px;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-bottom: 24px;
    }
    div {
      align-items: center;
      display: flex;
      gap: 16px;
      .play-button{
        align-items: center;
        border-radius: 100%;
        border: none;
        cursor: pointer;
        display: flex;
      }
      a {
        @include link-hover($bright-color, $dark-color, 2px);
        color: $bright-color;
        text-decoration: none;
      }
    }
  }
  .hero-img {
    width: 25vw;
  }
}

@include breakpoint($tablet-screen) {
  .hero-wrap {
    .hero-img {
      display: none;
    }
  }
}

@include breakpoint($mobile-screen) {
  .hero {
    height: 540px;
  }

  .hero-wrap {
    margin: 0 16px;
    width: auto;
    article {
      margin-top: 30px;
      h1 {
        font-size: 1.8rem;
        line-height: 2rem;
        margin: 16px;
        text-align: center;
      }
      p {
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
      }
      div {
        margin-top: 60px;
        justify-content: center;
      }
    }
  }
}
