// colors
$bright-color: #fff;
$dark-color: #000;
$primary-color: #5e20a4;
$secondary-color: #00a870;
$text-color: #3d3d3d;

// screen size
$computer-screen: 1440px;
$tablet-screen: 930px;
$mobile-screen: 480px;

// Breakpoints

@mixin breakpoint($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// Interaction
@mixin link-hover($color, $shadow, $size) {
  &:hover {
    border-bottom: 2px solid $color;
    color: $color;
    text-shadow: $size $size $shadow;
    transition: 0.2s;
  }
}

@mixin btn-click {
  &:after {
    content: '';
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
}

// style
@mixin btn-style($color) {
  @include btn-click();
  background: $color;
  border-radius: 4px;
  border: none;
  color: $bright-color;
  cursor: pointer;
  font-size: 0.8rem;
  overflow: hidden;
  padding: 12px 21px;
  position: relative;
  transition-duration: 0.5s;
}

@mixin dual-column {
  color: $text-color;
  display: flex;
  justify-content: center;
  .section-text {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
  & > img {
    width: 70vw;
  }
}

@mixin dual-tablet {
  margin: 64px 10vw;
  text-align: center;
  .section-text {
    h2 {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }
  & > img {
    width: 70vw;
  }
}

@mixin dual-phone {
  margin: 64px 4.5vw;
  .section-text {
    p {
      margin: 16px 0 24px;
    }
  }
}

@mixin single-column {
  align-items: center;
  color: $text-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  .section-text {
    display: flex;
    flex-direction: column;
  }
}

@mixin single-tablet {
  margin: 64px;
  .section-text {
    h2 {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }
}

@mixin single-phone {
  margin: 64px 4.5vw;
}
