@import '../../scss/main.scss';

.section1 {
  @include dual-column();
  gap: 4vw;
  margin: 120px 9vw 120px 16vw;
  img {
    width: 39vw;
  }
}

@include breakpoint($tablet-screen) {
  .section1 {
    @include dual-tablet();
    align-items: center;
    flex-direction: column-reverse;
    gap: 24px;
  }
}

@include breakpoint($mobile-screen) {
  .section1 {
    @include dual-phone();
    img {
      width: 85vw;
    }
  }
}
